{% extends 'dashboard.html.twig' %} 

{% block title %}Service index{% endblock %}

{% block contenu %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_service</th>
                <th>Type_service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.nomService }}</td>
                <td>{{ service.typeService }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Create new</a>
    <a href="{{ path('service_pdf', {'id': 2 }) }}">pdf</a>

<div class="container py-5">
		<div class="d-flex justify-content-center">
  {{ knp_pagination_render(services) }}

</div>
	</div>        
{% endblock %}
 