{% extends 'dashboard.html.twig' %} 

{% block title %}Service{% endblock %}

{% block contenu %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nom_service</th>
                <td>{{ service.nomService }}</td>
            </tr>
            <tr>
                <th>Type_service</th>
                <td>{{ service.typeService }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
    <a href="{{ path('service_pdf', {'id': service.id }) }}">pdf</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
