<!DOCTYPE html>
<html
	lang="en">

	<!-- Mirrored from preclinic.dreamguystech.com/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Jan 2023 19:17:03 GMT -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/logo10.jpg">
		<title>MedTeck</title>
		<link href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">

		<link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/select2.min.css') }}">

		<link rel="stylesheet" href="{{ asset('assets/plugins/datatables/datatables.min.css') }}">

		<link rel="stylesheet" href="{{ asset('assets/plugins/feather/feather.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
		<link href="{{ asset('admin/assets/css/colors.min.css') }}" rel="stylesheet" type="text/css"/> {% block style %}{% endblock %}
		<script src="{{ asset('admin/global_assets/js/main/jquery.min.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/main/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/loaders/blockui.min.js') }}"></script>
		<!-- /core JS files -->

		<!-- Theme JS files -->
		<script src="{{ asset('admin/global_assets/js/plugins/visualization/d3/d3.min.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/ui/moment/moment.min.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>

		<script src="{{ asset('admin/assets/js/app.js') }}"></script>
		<script src="{{ asset('admin/global_assets/js/demo_pages/dashboard.js') }}"></script>
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script> 
	</head>
	<body>
		<div class="main-wrapper">
			<div class="header">
				<div class="header-left">
					<a href="" class="logo">
						<img src="assets/img/logo10.jpg" width="100%" height="100%" alt="">

					</a>
				</div>
				<a id="toggle_btn" href="javascript:void(0);"><img src="assets/img/icons/bar-icon.svg" alt=""></a>
				<a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"><img src="assets/img/icons/bar-icon.svg" alt=""></a>
				<div class="top-nav-search mob-view">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
					</form>
				</div>
				<ul class="nav user-menu float-end">
					<li class="nav-item dropdown d-none d-sm-block">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><img src="assets/img/icons/note-icon-02.svg" alt=""><span class="pulse"></span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span>Notifications</span>
							</div>
							<div class="drop-scroll">
								
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown d-none d-sm-block">
						<a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><img src="assets/img/icons/note-icon-01.svg" alt=""><span class="pulse"></span>
						</a>
					</li>
					<li class="nav-item dropdown has-arrow user-profile-list">
						<a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
							<div class="user-names">
								<h5>Liam Michael
								</h5>
								<span>Admin</span>
							</div>
							<span class="user-img">
								<img src="assets/img/user-06.jpg" alt="Admin">
							</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<li class="nav-item ">
						<a href="settings.html" class="hasnotifications nav-link"><img src="assets/img/icons/setting-icon-01.svg" alt="">
						</a>
					</li>
				</ul>
				<div class="dropdown mobile-user-menu float-end">
					<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-solid fa-ellipsis-vertical"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">Main</li>
							<li class="submenu">
								<a href="base.html.twig">
									<span class="menu-side"><img src="assets/img/icons/menu-icon-01.svg" alt=""></span>
									<span>
										Dashboard
									</span>

								</a>

							</li>
							<li class="submenu">
								<a href="#">
									<span class="menu-side"><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>
									<span>
										 Utulisateurs
									</span>
									<span class="menu-arrow"></span>
								</a>
								<ul style="display: none;">
									<li>
										<a href="#">Admin</a>
									</li>
									<li>
										<a href="#">Medecin</a>
									</li>
									

								</ul>
							</li>
							
							


							<li class="submenu">
								<a href="#">
									<span class="menu-side"><img src="assets/img/icons/menu-icon-06.svg" alt=""></span>
									<span>
										Ressources
									</span>
									<span class="menu-arrow"></span>
								</a>
								<ul style="display: none;">
									<li>
										<a href="#">Fournisseurs</a>
									</li>
									<li>
										<a href="#">Stock</a>
									</li>
									
								</ul>
							</li>
							<li class="submenu">
								<a href="#">
									<span class="menu-side"><img src="assets/img/icons/menu-icon-13.svg" alt=""></span>
									<span>
										Finances</span>
									<span class="menu-arrow"></span>
								</a>
								<ul style="display: none;">
									<li>
										<a href="#">tab1</a>
									</li>
									
									<li>
										<a href="#">tab2</a>
									</li>
									
								</ul>
							</li>
                            <li class="submenu">
								<a href="#">
									<span class="menu-side"><img src="assets/img/icons/menu-icon-06.svg" alt=""></span>
									<span>
										Consultations
									</span>
									<span class="menu-arrow"></span>
								</a>
								<ul style="display: none;">
									<li>
										<a href="#">tab1</a>
									</li>
									<li>
										<a href="#">tab2</a>
									</li>
									
								</ul>
							</li>


							<ul style="display: none;">

								<li>
									<a href="register.html">
										Register
									</a>
								</li>
								<li>
									<a href="forgot-password.html">
										Forgot Password
									</a>
								</li>
								<li>
									<a href="change-password2.html">
										Change Password
									</a>
								</li>

								<li>
									<a href="profile.html">
										Profile
									</a>
								</li>
								<li>
									<a href="gallery.html">
										Gallery
									</a>
								</li>


							</ul>
						</li>

					</ul>
					<div class="logout-btn">
						<a href="login.html">
							<span class="menu-side"><img src="assets/img/icons/logout.svg" alt=""></span>
							<span>Logout</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="content">

				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Dashboard
									</a>
								</li>
								<li class="breadcrumb-item">
									<i class="feather-chevron-right"></i>
								</li>
								<li class="breadcrumb-item active">Admin Dashboard</li>
							</ul>
						</div>
					</div>
				</div>

{% block title %}Ordonnance!{% endblock %}

{% block body %}

<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 50px;">
    <div class="col-lg-14">
        <div class="card">
            <div class="card-body">
                <i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i>
                <h5 class="card-title">Liste des Ordonnance</h5>
                {% for message in app.flashes('success')%}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                 {% for message in app.flashes('danger')%}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <!-- Table with stripped rows -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <table id="myTable" class="table table-striped">
    <thead>
    <tr>                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        
                    </thead>
                    <tbody>
					    <input id="myInput" type="text" value="" name="Search" class="form-control" placeholder="Are you Looking for ordonnace?" autofocus>

                     {% for e in o %}
    <tr>
        <td>{{ e.date|date('Y-m-d') }}</td>
        <td>{{ e.description}}</td>
        <td>
            <a class="btn btn-success" href="{{ path('modifordonnance',{'id' : e.ido}) }}">Modifier</a>
            <a class="btn btn-danger" href="{{ path('supp_ordo',{'id' : e.ido}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')">Supprimer</a>
{% if e.ido is defined %}
    <a class="btn btn-qrcode" href="{{ path('qr_code',{'ido' : e.ido}) }}">QR Code</a>
{% endif %}
		</td>
    </tr>
    <tr>
      
{% endfor %}

                                                        <a href="{{ '/addO' }}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>ADD Ordonnance </a>

                    </tbody>
                </table>
                <!-- End small tables -->
            </div>
        </div>
    </div>
</div>

{% endblock %}