{{ form_start(form , {'attr':{'novalidate':'novalidate'}}) }}
<div class="form-group">
      {{ form_label(form.numero_chambre) }}
      {{ form_widget(form.numero_chambre) }} 
      {{ form_errors(form.numero_chambre) }} 
</div>
<div class="form-group">
      {{ form_label(form.service_affecter) }}
      {{ form_widget(form.service_affecter) }} 
      {{ form_errors(form.service_affecter) }} 
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
